.imagemRegistro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: 170px;
    z-index: -1;
}

.spanRegistro{
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem;
}

.spanRegistro span{
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.divPrinRegistro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.divFormRegistro{
    width: 700px;
    height: 450px;
    background-color: rgba(12, 5, 5, 0.289); /* Fundo branco com 30% de opacidade */
    border: 2px solid var(--salmon); /* Borda opcional */
    border-radius: 5px;
    margin-bottom: 1rem;
}

.divPrinRegistro form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 1rem;
    gap: 1.5rem;
    flex-direction: column;
}

.divPrinRegistro form label{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.divPrinRegistro form input{
    width: 280px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: .4rem .3rem;
    font-size: 1.05rem;
}

.divPrinRegistro form button{
    cursor: pointer;
    width: 200px;
    padding: .3rem .3rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    color: var(--white);
    background-color: var(--salmon);
    font-size: 1.01rem;
}

.divPrinRegistro h3 a{
    color: var(--background);
    text-decoration: underline;
}